<div class="container">
  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center">Register</div>
    <div class="card-body">
      <form (ngSubmit)="registerSubmit()" #registerForm [ngFormOptions]="{updateOn:'submit'}">
        <div class="form-horizontal">
          <label for="username">Username: </label>
          <input id="username" type="text" style="align-items: flex-end" class="form-control"
                 placeholder="Enter username" required [(ngModel)]="username" name="username">
          <label for="password">Password: </label>
          <input id="password" type="text" style="align-items: flex-end" class="form-control"
                 placeholder="Enter password" required [(ngModel)]="password" name="password">
        </div>
        <hr>
        <div class="form-horizontal">
          <button [disabled]="registering" type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
          <div [hidden]="!registering" class="alert alert-info">Checking availability</div>
          <br>
          <button type="button" routerLink="../login" class="btn btn-info btn-lg btn-block">Log in</button>
          <br>
          <div *ngIf="user" class="alert alert-info">Username {{user.username}} is already taken!</div>
        </div>
      </form>
    </div>
  </div>
</div>
