<div class="container">
  <br>
  <div class="row" *ngIf="isContentLoaded()">
    <div class="col-xl-4">
      <div class="card border-primary mb-4" style="max-width: 100%;">
        <div class="card-header text-primary"><h2>Info</h2></div>
        <div class="card-body">
          <label class="text-info" id="username">{{user.username}}</label><br>

          <label for="name">Name: </label>
          <label class="text-link" id="name">{{user.name}}</label><br>

          <label for="bio">Biography: </label>
          <label class="text-link" id="bio">{{user.bio}}</label><br>

          <label for="location">Location: </label>
          <label id="location">{{user.location}}</label><br>

          <label for="website">Website: </label>
          <label id="website">{{user.web}}</label><br>
        </div>
      </div>
      <div>
        <button type="button" routerLink="../profile/edit" class="btn btn-info btn-lg btn-block">Edit info</button>
      </div>

      <br>

      <div class="card border-primary mb-8" style="max-width: 100%">
        <div class="card-header text-primary">
          <h2 class="card-header-title">Followers</h2>
        </div>
        <div *ngFor="let followerUser of followers" class="card-body">
          <!--template-->
          <div class="card bg-light border-primary" style="max-width: inherit">
            <div class="card-header text-primary"><h3>{{user.username}}</h3></div>
          </div>
        </div>
      </div>

      <br>

      <div class="card border-primary mb-8" style="max-width: 100%">
        <div class="card-header text-primary">
          <h2 class="card-header-title">Following</h2>
        </div>
        <div *ngFor="let followingUser of following" class="card-body">
          <!--template-->
          <div class="card bg-light border-primary" style="max-width: inherit">
            <div class="card-header text-primary"><h3>{{user.username}}</h3></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card border-primary mb-8" style="max-width: 100%">
        <div class="card-header text-primary">
          <h2 class="card-header-title">Latest kweets</h2>
        </div>
        <div *ngFor="let kweet of kweets" class="card-body">
          <!--template-->
          <div class="card bg-light border-primary" style="max-width: inherit">
            <div class="card-header text-primary"><h3>{{user.username}}</h3></div>
            <div class="card-body">
              <p>{{kweet.content}}</p>
            </div>
            <div class="card-footer">{{kweet.date}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <form (ngSubmit)="followUser()" [ngFormOptions]="{updateOn: 'submit'}">
      <button type="button"  class="btn btn-info btn-lg btn-block">Follow</button>
      </form>
    </div>
  </div>
</div>
