<div class="container">
  <div class="card border-primary mb-8" style="max-width: 100%">
    <div class="card-header text-primary">
      <h2 class="card-header-title">Create kweet</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="createKweet()" #createKweetForm [ngFormOptions]="{updateOn: 'submit'}">
        <div class="form-group text-style">
          <label for="kweetContent">Content:</label>
          <input id="kweetContent" type="text" [(ngModel)]="kweetContent"
                 name="kweetContent" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
      </form>
    </div>
  </div>
</div>
