<div class="container">
  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center">Edit data</div>
    <div class="card-body">
      <form (ngSubmit)="editUser()" #editUserForm [ngFormOptions]="{updateOn:'submit'}">
        <div class="form-horizontal">
          <label for="username">Username: </label>
          <input id="username" type="text" style="align-items: flex-end" class="form-control"
                 placeholder="Enter username" required [(ngModel)]="user.username" name="username">
          <label for="password">Password: </label>
          <input id="password" type="text" style="align-items: flex-end" class="form-control"
                 placeholder="Enter password" required [(ngModel)]="user.password" name="password">
          <label for="bio">Biography: </label>
          <input id="bio" type="text" style="align-items: flex-end" class="form-control"
                 placeholder="Enter biography" required [(ngModel)]="user.bio" name="bio">
          <label for="location">Location: </label>
          <input id="location" type="text" style="align-items: flex-end" class="form-control"
                 placeholder="Enter location" required [(ngModel)]="user.location" name="location">
          <label for="name">Name: </label>
          <input id="name" type="text" style="align-items: flex-end" class="form-control"
                 placeholder="Enter name" required [(ngModel)]="user.name" name="name">
          <label for="web">Website: </label>
          <input id="web" type="text" style="align-items: flex-end" class="form-control"
                 placeholder="Enter web" required [(ngModel)]="user.web" name="web">
        </div>
        <hr>
        <div class="form-horizontal">
          <button [disabled]="savingData" type="submit" class="btn btn-secondary btn-lg btn-block">Save</button>
          <br>
          <button type="button" routerLink="/profile" class="btn btn-secondary btn-lg btn-block">Back to profile</button>
          <div [hidden]="!savingData" clas="alert alert-info">Saving data...</div>
  </div>
      </form>
    </div>
  </div>
</div>
