<div class="container">
  <div class="card border-primary mb-3 center-block" style="max-width: 60rem ">
    <div class="card-header" style="text-align: center">Login</div>
    <div class="card-body">
      <form (ngSubmit)="loginSubmit()" #loginForm [ngFormOptions]="{updateOn:'submit'}">
        <div class="form-horizontal">
          <label for="username">Username: </label>
          <input id="username" type="text" style="align-items: flex-end" class="form-control"
                 placeholder="Enter username" required [(ngModel)]="username" name="username">
          <label for="password">Password: </label>
          <input id="password" type="text" style="align-items: flex-end" class="form-control"
                 placeholder="Enter password" required [(ngModel)]="password" name="password">
        </div>
        <hr>
        <div class="form-horizontal">
          <div [hidden]="!isPasswordEmpty()" class="alert alert-danger"> Please fill in your password</div>
          <div [hidden]="!isLoginIncorrect()" class="alert alert-danger"> Your username or password was incorrect</div>
          <button [disabled]="loggingIn" type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
          <div [hidden]="!loggingIn" clas="alert alert-info">Logging in...</div>
        </div>
      </form>
      <br>
      <button type="button" routerLink="../register" class="btn btn-info btn-lg btn-block">Register</button>
    </div>
  </div>
</div>
